@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  touch-action: manipulation;
}

.light body {
  --bg-color: #C9D6FF;  /* fallback for old browsers */
  --bg-color: -webkit-linear-gradient(-45deg, #e3d7ec6e, #f8dbff);  /* Chrome 10-25, Safari 5.1-6 */
  --bg-color: linear-gradient(-45deg, #e3d7ec6e, #f8dbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  --bg-color-calc: #f1f1f188;
  --bg-color-display: #9480c45e;
  --bg-color-switch: #f1f1f1bd;
  --equals-button-color: #d35e73d2;
  --equals-button-color-hover: #d35e73ea;
  --equals-button-color-active: #e6677e;
  --input-square-color: #1212128a;
  --number-button-color: #6e55a815;
  --number-button-color-hover: #6e55a826;
  --number-button-color-active: #6e55a837;
  --operator-button-color: #6e55a830;
  --operator-button-color-hover: #6e55a844;
  --operator-button-color-active: #6e55a858;
  --shadow-color-button-hover: rgba(104, 104, 104, 0.055);
  --shadow-color-calc: rgba(0, 0, 0, 0.13);
  --text-color: #1d0531;
  --text-color-secondary: #2d0f46b7;
  --text-color-tertiary: #4015631a;
}

.dark body {
  --bg-color: #121212;
  --bg-color-calc: #7a7a7a1f;
  --bg-color-display: #7a7a7a56;
  --bg-color-switch: #7a7a7a56;
  --equals-button-color: #d35e73d2;
  --equals-button-color-hover: #d35e73;
  --equals-button-color-active: #e6677e;
  --input-square-color: #e1e1e18a;
  --number-button-color: #7a7a7a15;
  --number-button-color-hover: #7a7a7a26;
  --number-button-color-active: #7a7a7a37;
  --operator-button-color: #7a7a7a30;
  --operator-button-color-hover: #7a7a7a44;
  --operator-button-color-active: #7a7a7a58;
  --shadow-color-button-hover: rgba(0, 0, 0, 0.055);
  --shadow-color-calc: black;
  --text-color: #e1e1e1;
  --text-color-secondary: #e1e1e1b7;
  --text-color-tertiary: #e1e1e11a;
}

body {
  display: flex;
  justify-content: center;

  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  margin: 0;
  padding: 0;

  background: var(--bg-color);

  color: var(--text-color);
  font-family: "Roboto Flex", sans-serif;

  transition: all 1 ease;
}

.calculator-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  width: 500px;
}

.calculator {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  flex: 1;
  max-height: 700px;
  
  background-color: var(--bg-color-calc);
  border-radius: 10px;
  box-shadow: 0 0 20px 4px var(--shadow-color-calc);
}

.calculator .display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-wrap: break-word;
  overflow-y: auto;

  flex: 1;
  min-height: 100px;
  margin: 20px;
  margin-bottom: 0px;
  padding: 10px;
  gap: 10px;

  background-color: var(--bg-color-display);
  /* border: 2px solid var(--bg-color-calc); */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  font-size: 32px;
  text-align: right;
  font-family: "Orbitron", sans-serif;
}

.calculator .display::-webkit-scrollbar {
  width: 14px;
  -webkit-transition: .4s;
  transition: .4s;
}

.calculator .display::-webkit-scrollbar-track {
  background-color: var(--bg-color-switch);
  border-radius: 2px;
  border-top-right-radius: 10px;
}

.calculator .display::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 2px;
  border-top-right-radius: 10px;
}

body.has-hover .calculator .display::-webkit-scrollbar-track:hover {
  background-color: var(--equals-button-color);
}

.switch {
  justify-self: flex-start;
  align-self: flex-end;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-bottom: auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--bg-color-switch);
  -webkit-transition: .4s;
  transition: .4s;
}

body.has-hover .slider:hover {
  background-color: var(--equals-button-color);
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--text-color);
  border-radius: 2px;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.previous {
  color: var(--text-color-secondary);
  font-size: 20px;
}

.previous div,
.current div {
  display: inline;
}

.input-square {
  margin-left: 4px;
  padding-left: 2px;
  padding-right: 2px;
  border: 2px dashed var(--input-square-color);
  color: rgba(0,0,0,0);

  animation-name: blinking;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;

  transition: opacity 0.2s ease;
}

@keyframes blinking {
  0% {
    opacity: 100%;
  }
  48% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  98% {
    opacity: 0%;
  }
}

.closing-bracket.unclosed {
  color: var(--text-color-tertiary);
}

.closing-bracket {
  color: inherit;
}

.power,
.sup {
  vertical-align: super;
}

.current .power {
  font-size: 24px;
}

.current .power .power {
  font-size: 18px;
}

.previous .power {
  font-size: 16px;
}

.previous .power .power {
  font-size: 12px;
}

.calculator .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;

  flex: 1;
  margin: 20px;
}

button {
  min-width: 50px;
  min-height: 35px;

  background-color: var(--number-button-color);
  border: none;
  border-radius: 2px;
  /* outline: none;
  box-shadow: none; */

  color: inherit;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

body.has-hover button {
  transition: all 0.2s ease;
}

body.has-hover button:hover {
  background-color: var(--number-button-color-hover);
  box-shadow: 0 0 10px 2px var(--shadow-color-button-hover);
}

button:active {
  background-color: var(--number-button-color-active);
}

.operator,
#answer,
#pi,
#e,
#clear {
  background-color: var(--operator-button-color);
}

body.has-hover .operator:hover,
body.has-hover #answer:hover,
body.has-hover #pi:hover,
body.has-hover #e:hover,
body.has-hover #clear:hover {
  background-color: var(--operator-button-color-hover);
}

.operator:active,
#answer:active,
#pi:active,
#e:active,
#clear:active {
  background-color: var(--operator-button-color-active);
}

#equals {
  background-color: var(--equals-button-color);
}

body.has-hover #equals:hover {
  background-color: var(--equals-button-color-hover);
}

#equals:active {
  background-color: var(--equals-button-color-active);
}

#factorial {
  order: 0;
}

#p {
  order: 1;
}

#e {
  order: 2;
}

#percentage {
  order: 3;
}

#power {
  order: 4;
}

#sqrt {
  order: 5;
}

#log {
  order: 6;
}

#ln {
  order: 7;
}

#opening-bracket {
  order: 8;
}

#closing-bracket {
  order: 9;
}

#answer {
  order: 10;
}

#clear {
  order: 11;
}

#n7 {
  order: 12;
}

#n8 {
  order: 13;
}

#n9 {
  order: 14;
}

#division {
  order: 15;
}

#n4 {
  order: 16;
}

#n5 {
  order: 17;
}

#n6 {
  order: 18;
}

#multiplication {
  order: 19;
}

#n1 {
  order: 20;
}

#n2 {
  order: 21;
}

#n3 {
  order: 22;
}

#addition {
  order: 23;
}

#dot {
  order: 24;
}

#n0 {
  order: 25;
}

#equals {
  order: 26;
}

#subtraction {
  order: 27;
}

.copyright p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: -5px;
  margin-bottom: 5px;
  padding: 0;
  font-size: 12px;
  font-weight: 200;
  color: var(--text-color-secondary);
}

#github {
  pointer-events: auto;
  width: 14px;
  margin-left: 3px;
  transform: translateY(1px);
}

.light #github {
  filter: invert(78%) sepia(64%) saturate(3307%) hue-rotate(205deg) brightness(81%) contrast(86%);
}

.light body.has-hover #github:hover {
  filter: invert(78%) sepia(64%) saturate(3307%) hue-rotate(205deg) brightness(31%) contrast(86%);
}

.dark #github {
  filter: invert(97%) sepia(1%) saturate(830%) hue-rotate(312deg) brightness(115%) contrast(76%);
}

.dark body.has-hover #github:hover {
  filter: invert(97%) sepia(1%) saturate(830%) hue-rotate(312deg) brightness(85%) contrast(76%);
}

@media (max-width: 500px) {
  .calculator-wrapper {
    
    justify-content: normal;
  }

  .calculator .display {
    margin: 10px;
    margin-bottom: 0px;
  }

  .calculator .buttons {
    gap: 8px;
    margin: 10px;
  }

  .calculator {
    border-radius: 0px;
  }

  .copyright p {
    font-size: 10px;
    font-weight: 200;
    margin-top: 0px;
  }

  #github {
    width: 12px;
  }

  .switch {
    width: 28px;
    height: 18px;
  }
  
  .slider:before {
    height: 10px;
    width: 10px;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@media (max-height: 700px) {
  .calculator {
    border-radius: 0px;
  }
}

@media screen and (orientation: landscape) and (max-height: 500px) {
  .calculator-wrapper {
    width: 100vw;
  }

  .calculator .display {
    margin: 10px;
    margin-bottom: 0px;
  }


  .calculator .buttons {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
    margin: 10px;
  }

  button {
    min-height: 22px;
    font-size: 14px;
  }

  #factorial {
    order: 0;
  }
  
  #p {
    order: 1;
  }
  
  #e {
    order: 8;
  }
  
  #percentage {
    order: 21;
  }
  
  #power {
    order: 15;
  }
  
  #sqrt {
    order: 22;
  }
  
  #log {
    order: 14;
  }
  
  #ln {
    order: 7;
  }
  
  #opening-bracket {
    order: 16;
  }
  
  #closing-bracket {
    order: 23;
  }
  
  #answer {
    order: 9;
  }
  
  #clear {
    order: 2;
  }
  
  #n7 {
    order: 3;
  }
  
  #n8 {
    order: 4;
  }
  
  #n9 {
    order: 5;
  }
  
  #division {
    order: 6;
  }
  
  #n4 {
    order: 10;
  }
  
  #n5 {
    order: 11;
  }
  
  #n6 {
    order: 12;
  }
  
  #multiplication {
    order: 13;
  }
  
  #n1 {
    order: 17;
  }
  
  #n2 {
    order: 18;
  }
  
  #n3 {
    order: 19;
  }
  
  #addition {
    order: 20;
  }
  
  #dot {
    order: 24;
  }
  
  #n0 {
    order: 25;
  }
  
  #equals {
    order: 26;
  }
  
  #subtraction {
    order: 27;
  }

  .copyright p {
    font-size: 10px;
    font-weight: 200;
    margin-top: -3px;
  }

  #github {
    width: 12px;
  }

  .switch {
    width: 28px;
    height: 18px;
  }
  
  .slider:before {
    height: 10px;
    width: 10px;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}